// fonts
$primary-font: 'Roboto', sans-serif;
$regular-font-weight: 400;
$bold-font-weight: 700;

// colors
$beige: #FEF7E5;
$light_beige: #FFF7C2;
$violet: #6F1EAA;
$orange: #F7A500;
$black: #000;
$white: #FFF;

// transitions
$standart-transition: all ease-in-out 0.3s;

 